<p *ngIf="error; else cardsBlock" class="error">{{ error }}</p>
<ng-template appRef (click)="$event"></ng-template>
<ng-template #cardsBlock>
    <div *ngIf="!loading; else loadingBlock">

        <div *ngIf="!IsCardVariants; else variantsBlock">
            <div *ngFor="let card of cards" class="border mb-1 py-2">
                <p class="mx-4">Package NPM Info:</p>
                <span class="mx-4"><span class="text-info">Hits:</span> {{ card.hits }}</span>
                <span><span class="text-info">Type:</span>  {{ card.type }}</span>
                <span class="mx-4" (click)="searchNamePackage(card.name, card.type)" title="Click here for get info versions"><span class="text-info">Name:</span> {{ card.name }}</span>
            </div>
            <nav class="d-flex justify-content-end mb-1">
                <ul class="pagination my-auto">
                    <li *ngFor="let i of [1,2,3,4,5,6,7,8,10]" class="page-item" [class.active]="i===pageActive">
                        <a class="page-link"  type="button" (click)="getPage(i)">{{ i }}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <ng-template #variantsBlock>
            <div class="card-variant my-4 border">
                <p class="mx-4">Package NPM Name: {{ packageName }}</p>
                <p class="mx-4">Latest version: {{ packageVer.tags.latest }}</p>
                <p class="mx-4">Version:</p>
                <div class="d-flex flex-wrap mx-4">
                    <span *ngFor="let v of packageVer.versions" class="mx-2 my-2" title="Click here for get info version" (click)="showModal(v)">{{ v }}</span>
                </div>
            </div>
        </ng-template>
    </div>
    <ng-template #loadingBlock>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
            </div>
        </div>
    </ng-template>
</ng-template>