<div class="container vh-100 w-50 my-auto">
  <header class="col align-self-center border bg-info">
    <h2 class="mx-3 mt-3"><a href="/" style="text-decoration: none; color: black;">Search NPM Pakages</a></h2>
    <app-search (onSearch)="searchPackage($event)"></app-search>
  </header>
  <main class="col align-self-center">
    <app-card [strQuery]="stringSearch"></app-card>
  </main>
  <footer class="col align-self-center border bg-info">
    <div class="d-flex justify-content-center mt-4">
      <div class="mx-3">Athor:<a href="https://bitbucket.org/denis_mozharovskyi/search-npm-pakages/src/master/" title="Click here for go to repository"> Denis Mozharovskiy</a></div>
    </div>
  </footer>
</div>

