<div class="backdrop"></div>
<div class="modal modal-dialog modal-fullscreen-lg-down modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Pakage NPM version info</h5>
        </div>
        <div class="modal-body">
            <pre>{{ jsonObject | json}}</pre>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="close.emit()">Close</button>
        </div>
    </div>
</div>

